html,
body {
  font-size: 10px;
  font-family: "Roboto, Arial, sans-serif";
  height: 100%;
  width: 100%;
}

#contant {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  position: fixed;
  background-color: #ffffff;
}

#header-left {
  width: 169px;
  height: 56px;
  float: left;
  margin-right: 375px;
}

#menu {
  width: 24px;
  height: 24px;
  padding: 16px 8px;
  float: left;
}

#logo {
  width: 120px;
  height: 56px;
  float: left;
}

#logo img {
  width: 90px;
  height: 20px;
  padding: 18px 14px 18px 16px;
}

#logo-country {
  margin: -45px 0 0 110px;
  color: #606060;
  float: left;
}

#header-center {
  width: 728px;
  height: 56px;
  float: left;
  margin-right: 375px;
}

#search-box {
  width: 636px;
  height: 40px;
  float: left;
  margin: 10px 0 8px 40px;
  padding: 0 4px;
  
}

#search-input {
  width: 636px;
  height: 40px;
  margin: -3px 0px 0px 0px;
}

#search {
  width: 564px;
  height: 35px;
  border: 1px solid #d3d3d3;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px #eee;
  float: left;
  padding: 2px 0 2px 6px;
}

#search-icon1 img {
  width: 24px;
  height: 24px;
}

#search-icon1 {
  width: 64px;
  height: 41px;
  border: 1px solid #d3d3d3;
  border-left: none;
  border-radius: 0 2px 2px 0;
  background-color: #f8f8f8;
  padding: 1px 6px;
  float: left;
  cursor: pointer;
}

#search-icon1:hover {
  background-color: #f1f1f1;
}

#search-icon2 img {
  width: 24px;
  height: 24px;
}

#search-icon2 {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  margin: 8px 0 8px 4px;
  background-color: #f9f9f9;
  float: left;
  cursor: pointer;
}

#header-right {
  width: 225px;
  height: 56px;
  float: left;
}

#setting-icon img {
  width: 24px;
  height: 24px;
  padding: 8px;
}

#setting-icon {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  margin: 8px 0 8px 90px;
  background-color: #ffffff;
  float: left;
}

#login-icon img {
  width: 28px;
  height: 24px;
  padding: 6px 0 4px 12px;
  float: left;
}

#login-icon {
  width: 85px;
  height: 34px;
  border: 1px solid #065fd4;
  color: #065fd4;
  margin: 8px 0 8px 8px;
  background-color: #f9f9f9;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
}

#container {
  width: 1672px;
  height: 100%;
  margin-left: 240px;
}

#left {
  width: 240px;
  height: 881px;
  position: fixed;
  margin-top: 56px;
  overflow: hidden;
  box-sizing: border-box
}
#left-menu {
  width: 230px;
  height: 913px;
}

#left:hover {
  overflow-y: auto;
  overflow-x: hidden;
}

#left ul:nth-child(1) {
  padding: 12px 0;
}

#left ul:nth-child(2) {
  padding: 8px 0;
}

#left li {
  width: 200px;
  height: 40px;
  padding: 0 0 0 24px;
  line-height: 40px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #030303;
  
}

.left-hover:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

#left li:hover {
  
}
#first {
  background-color: rgba(0, 0, 0, 0.1);
}

#first:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#left img {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  line-height: 20px;
  vertical-align: middle;
}

#left p {
  padding: 0 24px;
  line-height: 40px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #606060;
}

#left a {
  color: #606060;
  text-decoration: none;
}

#left hr {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  border: none;
  margin: 12px 0;
}

#menu-texts {
  width: 240px;
  height: 98px;
}

#menu-text {
  padding: 0 24px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

#login-icon-margin {
  margin: 0 0 0 25px;
}

#login-icon img {
  text-align: center;
  margin-right: 0;
}

#login-icon p {
  padding: 0;
  color: #065fd4;
}

#menu-links1 {
  padding: 5px 24px 0 24px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 20px;
}
#menu-links2 {
  padding: 16px 24px 0 24px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 20px;
}

#menu-links3 {
  margin: 0 0 20px 0;
}

#menu-links3 p {
  padding: 16px 24px;
  text-align: left;
  color: #909090;
}

#right {
  width: 100%;
  height: 913px;
  float: left;
  background-color: #f9f9f9;
}

#right #contents {
  width: 100%;
  height: 100%;
  margin-top: 136px;
}

#menu2 {
  width: 1664px;
  height: 56px;
  background: rgba(255, 255, 255, 0.99);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 56px;
}

#menu2-list {
  width: 100%;
  height: 56px;
  margin: 0 420px;
}

#menu2-list div {
  display: inline-block;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 16px;
  font-size: 1.4rem;
  padding: 8px 12px;
  margin: 12px 12px 12px 0;
  
}

.menu2-list {
  color: #030303;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}
.now {
  color: white;
  cursor: pointer;
  background: rgb(0, 0, 0);
}

.menu2-list:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.videos {
  width: 1504px;
  height: 360px;
  margin: 0 80px;
}

.video {
  width: calc(25% - 16px);
  height: 100%;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.video .video-big-pic{
  width: 360px;
}

.icon {
  width: 48px;
  height: 35%;
  float: left;
}

.video .small-icon {
  width: 36px;
  height: 36px;
  margin-top: 12px;
  margin-right: 12px;
  border-radius: 50%;
}

.info {
  width: 288px;
  height: 35%;
  float: left;
  padding-right: 24px;
}

.video-name {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-top: 12px;
  margin-bottom: 4px;
}

.video-info {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: #606060;
}

/* .video:hover {
  width: 440px;
  height: 400px;
  box-shadow: 0 0 15px black;
  clear: both;
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 100px;
}